@model IEnumerable<WaterResort.Models.RestaurantTable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Great Food, Great People</h1>

@{
    /*


    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reserved)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reserved)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

        */
}
<div class="row">
    <div class="column">
        <h3>Cafeteria Menu</h3>
        <img src="~/img/cafMenu.jpg" width="500" height="800" alt="Cafeteria Menu">
    </div>
    <div class="column">
        <h3>Dining Menu</h3>
        <img src="~/img/dinnerMenu.jpg" width="500" height="800" alt="Dining Menu">
    </div>
</div>

