@model IEnumerable<WaterResort.Models.Room>

@{
    ViewData["Title"] = "Reserve a Room!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Pick a room to get more details!</h1>
<div class="row">
    <div class="col-7">
        <div>
            <p>Floor 1</p>
            @{
                int i = 0;              // Room number counter
                int floorNum = 1;       // Floor counter
            }
            @foreach (var item in Model)
            {
                <form class="btn-group">
                    @if (item.Reserved == true)
                    {
                    <button type="button" class="btn btn-danger m-1" disabled>@item.RoomNumber</button>
                    }
                    else
                    {
                    <button type="submit" class="btn btn-primary m-1" asp-action="Click" asp-route-id="@item.Id">@item.RoomNumber</button>
                    }
                </form>
                i++;                // Increase room number counter
                if (i == 24)        // Last room on floor ends with 24
                {
                    floorNum++;     // Increase the floor number count
                    FloorNumberHeader(floorNum);
                    i = 0;          // Reset the counter
                }
            }
        </div>
    </div>
    <div class="col-5">
        <h3 class="text-center">ROOM DETAILS</h3>
        <h5>Room Number: @TempData["RoomNumber"]</h5>
        <h5>Beds: @TempData["Beds"]</h5>
        <h5>Does this room face the lake?: @TempData["LakeFacing"]</h5>
        <h5>Room type: @TempData["RoomType"]</h5>
        <h5>Cost per night: @TempData["CostPerNight"]</h5>
    </div>
</div>
@{
    void FloorNumberHeader(int floorNum)
    {
        if (floorNum <= 5)              // There is no floor above 5
        {
            <div class="col-12">
                <p>
                    Floor @floorNum
                </p>
            </div>
        }
    }


}

