@model IEnumerable<WaterResort.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QueenBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KingBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cleaned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LakeFacing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueenBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KingBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cleaned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LakeFacing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
