@model IEnumerable<WaterResort.Models.Room>

@{
    ViewData["Title"] = "Reserve a Room!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Pick a room to get more details!</h1>
<div class="row">
    <div class="col-6">
        <div class="container float-left">
            <p>
                Floor 1
            </p>
            <div class="row">
                @{
                    int i = 0;              // Room number counter
                    int floorNum = 1;       // Floor counter
                }
                @foreach (var item in Model)
                {
                <div class="col-1">
                    @{
                        if (item.Reserved == true)
                        {
                            if (User.IsInRole("Administrator"))
                            {
                                <form>
                                    <button type="submit" class="btn btn-danger" asp-action="Click" asp-route-id="@item.Id"></button>
                                </form>
                            }
                            else
                            {
                                <button type="button" class="btn btn-danger" disabled></button>
                            }
                        }
                        else
                        {
                            <form>
                                <button type="submit" class="btn btn-primary" asp-action="Click" asp-route-id="@item.Id"></button>
                            </form>
                        }
                    }
                </div>
                    i++;                // Increase room number counter
                    if (i == 24)        // Last room on floor ends with 24
                    {
                        floorNum++;     // Increase the floor number count
                        FloorNumberHeader(floorNum);
                        i = 0;          // Reset the counter
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="border border-dark rounded" style="overflow: hidden;">
            <h3 class="text-center">ROOM DETAILS</h3>
            <h5>Room Number: @TempData["RoomNumber"]</h5>
            <h5>Beds: @TempData["Beds"]</h5>
            <h5>Does this room face the lake?: @TempData["LakeFacing"]</h5>
            <h5>Room type: @TempData["RoomType"]</h5>
            <h5>Cost per night: @TempData["CostPerNight"]</h5>
            <form>
                <button type="submit" class="btn btn-primary float-right">Reserve Now!</button>
            </form>
        </div>

        @if (User.IsInRole("Administrator"))
        {
            <div class="border border-dark rounded">
                <h3 class="text-center">CUSTOMER DETAILS</h3>
                <h5>Room Number: @TempData["RoomNumber"]</h5>
                <h5>Beds: @TempData["Beds"]</h5>
                <h5>Does this room face the lake?: @TempData["LakeFacing"]</h5>
                <h5>Room type: @TempData["RoomType"]</h5>
                <h5>Cost per night: @TempData["CostPerNight"]</h5>
            </div>
        }

    </div>

</div>
@{
    void FloorNumberHeader(int floorNum)
    {
        if (floorNum <= 5)              // There is no floor above 5
        {
            <div class="col-12">
                <p>
                    Floor @floorNum
                </p>
            </div>
        }
    }


}

