@model WaterResort.Models.CurrentReservation
@using System.Security.Claims;

@{
    ViewData["Title"] = "Create";
}

@{ 
    Room room = ViewData["Room"] as Room;
}

<h1>Confirm your reservation!</h1>
<h5>Select a time frame you would like to reserve.</h5>
<hr />
<script>
    function totalDays() {
        var start = new Date(document.getElementById("start").value);
        var end = new Date(document.getElementById("end").value);
        console.log(start);
        console.log(end);
        var totalDays = (end.getTime() - start.getTime()) / (1000 * 3600 * 24);
        console.log("Total Days: " + totalDays)
        var costPerNight = @room.CostPerNight;
        console.log("Cost Per Night: " + costPerNight)
        var totalCost = totalDays * costPerNight;
        console.log("Total Cost: " + totalCost)
        document.getElementById("totalCost").value = totalCost;
    }
</script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (User.IsInRole("Administrator"))
            {
                <div class="form-group">
                    <label asp-for="AccountId" class="control-label"></label>
                    <input asp-for="AccountId" class="form-control" />
                    <span asp-validation-for="AccountId" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group" hidden>
                    <label asp-for="AccountId" class="control-label"></label>
                    <input asp-for="AccountId" class="form-control" value="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value" />
                    <span asp-validation-for="AccountId" class="text-danger"></span>
                </div>
            }
            <div class="form-group" hidden>
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control" value="@room.Id" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input id="start" asp-for="StartDate" class="form-control" type="date" min="@DateTime.Today.AddDays(-1)" value="@DateTime.Today.ToString("yyyy-MM-dd")" onchange="totalDays()" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">End Date</label>
                <input id="end" asp-for="EndDate" class="form-control" type="date" min="@DateTime.Today" value="@DateTime.Today.ToString("yyyy-MM-dd")" onchange="totalDays()" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <label asp-for="TotalCost">Total Cost($)</label>
                    <input id="totalCost" asp-for="TotalCost" readonly="readonly" />
                    <span asp-validation-for="TotalCost" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm Reservation" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (User.IsInRole("Administrator"))
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
