@model IEnumerable<WaterResort.Models.CurrentReservation>
@using Microsoft.AspNetCore.Identity;
@using WaterResort.Data;
@{
    ViewData["Title"] = "Index";
    UserManager<IdentityUser> users = ViewData["Users"] as UserManager<IdentityUser>;
    ApplicationDbContext _context = ViewData["_context"] as ApplicationDbContext;
}

<h1>All Reservations</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Room Number
            </th>
            <th>
                Email
            </th>
            <th>
                Starting Date
            </th>
            <th>
                Ending Date
            </th>
            <th>
                Balance Due
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var user = await users.FindByIdAsync(item.AccountId);
    var room = _context.Rooms.FirstOrDefault(m => m.Id == item.RoomId);
        <tr>
            <td>
                @room.RoomNumber
            </td>
            <td>
                @user.Email
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
